@model MOVIEInfoCURD.Models.Movies

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movies</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plot)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plot)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            <img src="@Url.Content(Model.Image)" width="100" height="100" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Actors)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Actors)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Producer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Producer)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
